<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .signup-container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="signup-container">
        <form th:method="post" th:action="@{/signup}" th:object="${signupRequest}" >
            <p>
                <input name="userId" type="text" placeholder="아이디 (45자 이하)"/>
                <p th:each="item : ${#fields.errors('userId')}" th:text="${item}" class="error-message"/>
            </p>
            <p>
                <input name="password" type="password" placeholder="비밀번호"/>
                <p th:each="item : ${#fields.errors('password')}" th:text="${item}" class="error-message"/>
            </p>
            <p>
                <input name="name" type="text" placeholder="이름"/>
                <p th:each="item : ${#fields.errors('name')}" th:text="${item}" class="error-message"/>
            </p>
            <input name="nickname" type="text" placeholder="닉네임 (15자 이하)"/>
            <p>
                <input name="email" type="email" placeholder="이메일"/>
                <p th:each="item : ${#fields.errors('email')}" th:text="${item}" class="error-message"/>
            </p>
            <input name="phoneNumber" type="text" placeholder="휴대전화"/>
            <p th:if="${not #strings.isEmpty(message)}"  th:text="${message}" class="error-message"/>
            <p><button type="submit">회원가입</button></p>
        </form>
    </div>
</body>
</html>